<div id="navtainer">
    <div id='navbar' class='navbar'>
        <div id='site-name'>
            <h1>Sarah Jo</h1>
        </div>
        <div id='menu-btn'>

            <!--TODO:Clean out unnecessary crap-->
            <!--SEGMENTED SVG-->
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 preserveAspectRatio="xMidYMid meet"
                 viewBox="139.0008547008548 299.0027019744728 103.99999999999994 104.00051282051254">
                <defs>
                    <path d="M150 310 L 140 300 L 140 300 L 240 300 L 240 310 L 150 310 Z" id="e7rpBKoi38"></path>
                    <path d="M179.95 339.96 L 170 330 L 239.95 330 L 239.95 339.96 L 179.95 339.96 Z"
                          id="bhwkZdSye"></path>
                    <path d="M209.93 369.93L200 360L240 360L240 369.93L209.93 369.93Z" id="aI2deXGzv"></path>
                    <path d="M230 390 L 240 390 L 240 400 L 230 390 Z" id="azYemgaje"></path>
                </defs>
                <g id="menu-icon">
                    <g id="menu-icon-bar-0" class="menu-icon-bar">
                        <g>
                            <filter id="shadow1524318" x="131" y="291" width="119" height="29"
                                    filterUnits="userSpaceOnUse" primitiveUnits="userSpaceOnUse">
                                <feFlood></feFlood>
                                <feComposite in2="SourceAlpha" operator="in"></feComposite>
                                <feGaussianBlur stdDeviation="1"></feGaussianBlur>
                                <feOffset dx="1" dy="1" result="afterOffset"></feOffset>
                                <feFlood flood-color="#000000" flood-opacity="0.5"></feFlood>
                                <feComposite in2="afterOffset" operator="in"></feComposite>
                                <feMorphology operator="dilate" radius="1"></feMorphology>
                                <feComposite in2="SourceAlpha" operator="out"></feComposite>
                            </filter>
                            <path d="M 150 310 L 140 300 L 140 300 L 240 300 L 240 310 L 150 310 Z" id="b4cudtQtlF"
                                  fill="white"
                                  fill-opacity="1" filter="url(#shadow1524318)"></path>
                        </g>
                        <use xlink:href="#e7rpBKoi38" opacity="1" fill-opacity="1"></use>
                        <g>
                            <use xlink:href="#e7rpBKoi38" opacity="1" fill-opacity="0" stroke="#ffffff"
                                 stroke-width="1" stroke-opacity="0"></use>
                        </g>
                    </g>
                    <g id="menu-icon-bar-1" class="menu-icon-bar">
                        <g>
                            <filter id="shadow888486" x="161" y="321" width="88.96" height="28.96"
                                    filterUnits="userSpaceOnUse" primitiveUnits="userSpaceOnUse">
                                <feFlood></feFlood>
                                <feComposite in2="SourceAlpha" operator="in"></feComposite>
                                <feGaussianBlur stdDeviation="1"></feGaussianBlur>
                                <feOffset dx="1" dy="1" result="afterOffset"></feOffset>
                                <feFlood flood-color="#000000" flood-opacity="0.5"></feFlood>
                                <feComposite in2="afterOffset" operator="in"></feComposite>
                                <feMorphology operator="dilate" radius="1"></feMorphology>
                                <feComposite in2="SourceAlpha" operator="out"></feComposite>
                            </filter>
                            <path d="M179.95 339.96L170 330L239.95 330L239.95 339.96L179.95 339.96Z" id="cTt2cSiCm"
                                  fill="white" fill-opacity="1" filter="url(#shadow888486)">

                            </path>
                        </g>
                        <use xlink:href="#bhwkZdSye" opacity="1" fill-opacity="1"></use>
                        <g>
                            <use xlink:href="#bhwkZdSye" opacity="1" fill-opacity="0" stroke="#ffffff"
                                 stroke-width="1" stroke-opacity="0"></use>
                        </g>
                    </g>
                    <g id="menu-icon-bar-2" class="menu-icon-bar">
                        <g>
                            <filter id="shadow350221" x="191" y="351" width="59" height="28.93"
                                    filterUnits="userSpaceOnUse" primitiveUnits="userSpaceOnUse">
                                <feFlood></feFlood>
                                <feComposite in2="SourceAlpha" operator="in"></feComposite>
                                <feGaussianBlur stdDeviation="1"></feGaussianBlur>
                                <feOffset dx="1" dy="1" result="afterOffset"></feOffset>
                                <feFlood flood-color="#000000" flood-opacity="0.5"></feFlood>
                                <feComposite in2="afterOffset" operator="in"></feComposite>
                                <feMorphology operator="dilate" radius="1"></feMorphology>
                                <feComposite in2="SourceAlpha" operator="out"></feComposite>
                            </filter>
                            <path d="M209.93 369.93L200 360L240 360L240 369.93L209.93 369.93Z" id="b169zM0rv"
                                  fill="white" fill-opacity="1" filter="url(#shadow350221)"></path>
                        </g>
                        <use xlink:href="#aI2deXGzv" opacity="1" fill-opacity="1"></use>
                        <g>
                            <use xlink:href="#aI2deXGzv" opacity="1" fill-opacity="0" stroke="#ffffff"
                                 stroke-width="1" stroke-opacity="0"></use>
                        </g>
                    </g>
                    <g id="menu-icon-bar-3" class="menu-icon-bar">
                        <g>
                            <filter id="shadow1343257" x="221" y="381" width="29" height="29"
                                    filterUnits="userSpaceOnUse" primitiveUnits="userSpaceOnUse">
                                <feFlood></feFlood>
                                <feComposite in2="SourceAlpha" operator="in"></feComposite>
                                <feGaussianBlur stdDeviation="1"></feGaussianBlur>
                                <feOffset dx="1" dy="1" result="afterOffset"></feOffset>
                                <feFlood flood-color="#000000" flood-opacity="0.5"></feFlood>
                                <feComposite in2="afterOffset" operator="in"></feComposite>
                                <feMorphology operator="dilate" radius="1"></feMorphology>
                                <feComposite in2="SourceAlpha" operator="out"></feComposite>
                            </filter>
                            <path d="M230 390L240 390L240 400L230 390Z" id="bamck00pD" fill="white"
                                  fill-opacity="1" filter="url(#shadow1343257)"></path>
                        </g>
                        <use xlink:href="#azYemgaje" opacity="1" fill-opacity="1"></use>
                        <g>
                            <use xlink:href="#azYemgaje" opacity="1" fill-opacity="0" stroke="#ffffff"
                                 stroke-width="1" stroke-opacity="0"></use>
                        </g>
                    </g>
                </g>
            </svg></div>
        <!--TODO:????? Uncomment and put inside flex-tainer-->

        <div id="navbar-items" class='navbar-items'> <!--TODO: Remove dup id class (pick one)-->
            <a class="navbar-item" href="#">Home</a>
            <a class="navbar-item" href="#photo-grid">Photos</a>
            <a class="navbar-item" href="#">About</a>
            <a class="navbar-item" href="#rates">Rates</a>
            <a class="navbar-item" href="#contact">Inquire</a> <!--TODO: Possibly rename id to match?-->
        </div>
    </div>
</div>