/*
html, body {
    height: 100%;
}
*/

/*
The following resets the border box to
make padding more consistent
Source: https://goo.gl/3ed2H
*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.header {
    /*TODO: Need to workout how this should scale with desktop.
            consider: background-attachment: fixed;
            requires figuring out how to control where the image starts (might just need to edit)
    */
    background-attachment: fixed;
/*    background-position-y: 18%;*/
    background-position-x: center;
    background-size: cover;
    background-image: url("../images/benjamin-combs-27619-unsplash.jpg");
    height: 40vh;
    width:100%;
    display:flex; /*TODO: Might be able to remove*/
    /*align-items: center;*/
    justify-content: center; /*Consider: Using navbar div might be able to remove in future but depends if comps. get added to navbar*/
}

#menu-btn > svg {
    height: inherit;
    fill:#ffffff;
}

#menu-btn {
    height: 1.719em;
    margin-right: 24px;
}

@media screen and (min-width: 600px) {
    #menu-btn {
        height: 2.373em;
    }
}

/* The sticky class is added to the header
with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    background: rgba(255, 255, 255, 0.95);
    color: black;
    box-shadow: 0px 4px 9px 2px #8e8e8e9c;
}

.sticky > div > h1 {
    color: #000;
}

.sticky > #menu-btn > svg {
    fill:#000000;
}

/*TODO: Clean up. Transition is work in progress*/
.sticky > #site-name {
    left: 0;
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(24px);
}

#site-name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#site-name > h1{
    font-size: 1.5em;
}


/*TODO: Evaluate this to see if it is the best size*/
@media screen and (min-width: 600px) {
    #site-name > h1{
        font-size: 2em;
    }
}

/* Add some top padding to the page content to prevent
sudden quick movement (as the header gets a new position at
the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 102px;
}

.navbar {
    height: 10vh;
    position: fixed;
    width: 100%;
    text-align: center;
    transition: 1s;
    font-family: 'Sacramento', cursive;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-item {
    height: auto;
    width: 10%;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

#site-name {
    color:white;

    /*Quadratic*/
    -moz-transition: all 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -o-transition: all 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -webkit-transition: all 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

#photo-grid {
    /*Consider: background: rgba(49, 86, 75, 0.14); keep white for now*/
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
}

.column {
    flex: 100%;
    max-width: 100%;
    padding: 0 4px;
}

/* Creates 2 columns on larger displays*/
@media screen and (min-width: 600px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Creates 4 columns on larger displays*/
@media screen and (min-width: 800px) {
    .column {
        flex: 25%;
        max-width: 25%;
    }
}

.column img {
    margin-top: 20px;
    vertical-align: middle;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*#photo-grid > img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        height: 100%;
    width: 100%;
    max-width: 100%;
}*/

#pricing {
    height: 100vh;
    padding-top: 10vh;
    padding-left: 24px;
    font-weight: 100;
}

#pricing > div > h1, h3 {
    font-weight: 100;
}

/*#price-header-text > h1{*/
    /*font-weight: 100;*/
/*}*/

footer {
    background: rgba(231, 231, 231, 0.74);
    height: 50vh;
}

/*TODO: Remove when done*/
/* Parallax base styles
--------------------------------------------- */

.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;
    perspective: 1px;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.parallax__layer--back {
    -webkit-transform: translateZ(-1px);
    transform: translateZ(-1px);
}
