/*
The following resets the border box to
make padding more consistent
Source: https://goo.gl/3ed2H
*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.disable-scroll {
    overflow-y: hidden;
}

.header {
    /*TODO: Need to workout how this should scale with desktop.
            consider: background-attachment: fixed;
            requires figuring out how to control where the image starts (might just need to edit)
    */
    background-attachment: fixed;
    /*    background-position-y: 18%;*/
    background-position-x: center;
    background-size: cover;
    background-image: url("../images/benjamin-combs-27619-unsplash.jpg");
    height: 40vh;
    width: 100%;
    display: flex; /*TODO: Might be able to remove*/
    /*align-items: center;*/
    justify-content: center; /*Consider: Using navbar div might be able to remove in future but depends if comps. get added to navbar*/
}

.section {
    height: 100vh;
}

.section-header-text {
    font-weight: normal;
}

.section-content {

}

#menu-btn > svg {
    height: inherit;
    fill: #ffffff;
}

#menu-btn {
    height: 1.719em;
    /*margin-right: 24px;*/
    z-index: 10;
    position: fixed;
    top: 2%;
    right: 24px;
}

@media screen and (min-width: 600px) {
    #menu-btn {
        height: 2.373em;
    }
}

/* The sticky class is added to the header
with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    opacity: 100 !important;
    /*color: black;*/
    /*box-shadow: 0px 4px 9px 2px #8e8e8e9c;*/
}

.sticky > div > h1 {
   /* color: #000;*/
}

.sticky > #menu-btn > svg {
    /*fill: #000000;*/
}

/*TODO: Clean up. Transition is work in progress*/
.sticky > #site-name {
    /*left: 0;*/

    /*TODO: Anywhere transform is used add these 3 fall back transforms to them*/
    -moz-transform: translate3d(calc(24px - 50vw), 0, 0);
    -ms-transform: translate3d(calc(24px - 50vw), 0, 0);
    -webkit-transform: translate3d(calc(24px - 50vw), 0, 0);
    transform: translate3d(calc(24px - 50vw), 0, 0);
}

#site-name { /*TODO: Refactor to header text or something*/

    will-change: transform;

    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    color: white;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    /*Quadratic*/
    -webkit-transition: transform 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -moz-transition: transform 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -ms-transition: transform 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -o-transition: transform 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    transition: transform 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);


}

#site-name > h1 {
    font-size: 1.5em;
}

/*TODO: Evaluate this to see if it is the best size*/
@media screen and (min-width: 600px) {
    #site-name > h1 {
        font-size: 2em;
    }
}

/* Add some top padding to the page content to prevent
sudden quick movement (as the header gets a new position at
the top of the page (position:fixed and top:0) */
/*.sticky + .content {*/
/*padding-top: 102px;*//*TODO: Remove when working*/
/*}*/

/* Nav bar styles
--------------------------------------------- */

/*Container for the navbar to produce a shadow effect behind the navbar*/
#navtainer {
    height: 10vh;
    position: fixed;
    width: 100%;
    /*filter: drop-shadow(0px 6px 14px #8e8e8e9c);*/
    z-index: 500;
}

.navbar {

    height: inherit;
    position: inherit;
    width: inherit;
    text-align: center;
    font-family: 'Sacramento', cursive;
    z-index: 1000;

    /*background: rgba(255, 255, 255, 0.95);*/
    /*opacity: 0;*/

/*    -webkit-transition: background-color 1s, clip-path 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -moz-transition: background-color 1s, clip-path 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -ms-transition: background-color 1s, clip-path 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -o-transition: background-color 1s, clip-path 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    transition: background-color 1s, clip-path 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);

    will-change: clip-path;*/
}

.navbar-items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 24px;
    top: 20%;
    font-family: 'Work Sans', sans-serif;
    opacity: 0;

/*    -webkit-transition: opacity .5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -moz-transition: opacity .5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -ms-transition: opacity .5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -o-transition: opacity .5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    transition: opacity .5s cubic-bezier(0.46, 0.03, 0.52, 0.96);*/

}

.menu-open[id='navbar-items'] {
    opacity: 100;
}

.navbar-items > a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

#menu {
    top: 10vh;
    position: absolute;
    height: 40vh;
    width: inherit;
    background: inherit;
    z-index: 5;
} /*Delete this when uncommented */
/*    -webkit-transition: clip-path 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -moz-transition: clip-path 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -ms-transition: clip-path 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -o-transition: clip-path 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    transition: clip-path 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);

    will-change: transform;
}

.menu-closed[id='menu'] {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.menu-open[id='menu'] {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
}

.menu-open[id='navbar'] {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 20%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 20%);

}

.menu-open[id='menu-icon-bar-0'] {
    -webkit-transform: rotate(-45deg) translate(11px, 6px);
    -moz-transform: rotate(-45deg) translate(11px, 6px);
    -ms-transform: rotate(-45deg) translate(11px, 6px);
    -o-transform: rotate(-45deg) translate(11px, 6px);
    transform: rotate(-45deg) translate(11px, 6px);
}

.menu-open[id='menu-icon-bar-1'] {
    -webkit-transform: rotate(-135deg) translate(32px, 0px) rotateX(-180deg);;
    -moz-transform: rotate(-135deg) translate(32px, 0px) rotateX(-180deg);;
    -ms-transform: rotate(-135deg) translate(32px, 0px) rotateX(-180deg);;
    -o-transform: rotate(-135deg) translate(32px, 0px) rotateX(-180deg);;
    transform: rotate(-135deg) translate(32px, 0px) rotateX(-180deg);;
}

.menu-open[id='menu-icon-bar-2'] {
    opacity: 0;
}

.menu-open[id='menu-icon-bar-3'] {
    opacity: 0;
}

.menu-open[id='navbar-items'] {

}

#menu-icon {

}

.menu-icon-bar {
    -webkit-transition: transform 1s cubic-bezier(0.46, 0.03, 0.52, 0.96), opacity 1s cubic-bezier(0.82, 0.03, 0.2, 1);
    -moz-transition: transform 1s cubic-bezier(0.46, 0.03, 0.52, 0.96), opacity 1s cubic-bezier(0.82, 0.03, 0.2, 1);
    -ms-transition: transform 1s cubic-bezier(0.46, 0.03, 0.52, 0.96), opacity 1s cubic-bezier(0.82, 0.03, 0.2, 1);
    -o-transition: transform 1s cubic-bezier(0.46, 0.03, 0.52, 0.96), opacity 1s cubic-bezier(0.82, 0.03, 0.2, 1);
    transition: transform 1s cubic-bezier(0.46, 0.03, 0.52, 0.96), opacity 1s cubic-bezier(0.82, 0.03, 0.2, 1);

    will-change: transform;
}
*/

/*The origin of each menu bar was calculated by hand, that is where these number come from.
see: (TODO: insert link to post here)
*/
#menu-icon-bar-0 {
    -webkit-transform-origin: 195px 305px;
    -moz-transform-origin: 195px 305px;
    -ms-transform-origin: 195px 305px;
    -o-transform-origin: 195px 305px;
    transform-origin: 195px 305px;
}

#menu-icon-bar-1 {
    -webkit-transform-origin: 209.95px 334.98px;
    -moz-transform-origin: 209.95px 334.98px;
    -ms-transform-origin: 209.95px 334.98px;
    -o-transform-origin: 209.95px 334.98px;
    transform-origin: 209.95px 334.98px;
}

/*Menu button transformations


bar 0 transform: rotate(-45deg) translate(11px, 6px);
bar 1 rotate(-135deg) translate(32px, 0px) rotateX(-180deg);

*/

/* Photo grid styles
--------------------------------------------- */
#photo-grid {
    /*Consider: background: rgba(49, 86, 75, 0.14); keep white for now*/
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
}

.column {
    flex: 100%;
    max-width: 100%;
    padding: 0 4px;
}

/* Creates 2 columns on larger displays*/
@media screen and (min-width: 600px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Creates 4 columns on larger displays*/
@media screen and (min-width: 800px) {
    .column {
        flex: 25%;
        max-width: 25%;
    }
}

.column img {
    margin-top: 20px;
    vertical-align: middle;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Pricing section styles
--------------------------------------------- */
#rates {
    height: 100vh;
    padding-top: 10vh;
    padding-left: 24px;
    font-weight: 100;
}

#rates > div > h1, h3 {
    font-weight: 100;
}

/* Contact section styles
--------------------------------------------- */
#contact {
    padding: 10vh 24px 0 24px;
}

#contact textarea {
    overflow: hidden;
    resize: none;
    min-height: 35px;
}

/* Form styles
 * Source: https://codepen.io/nathanlong/pen/kkLKrL -->
--------------------------------------------- */
.form-wrapper {
    max-width: 30%;
    min-width: 300px;
    padding: 50px 30px 50px 30px;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.form-group {
    position: relative;
}

.form-group + .form-group {
    margin-top: 30px;
}

.form-label {
    position: absolute;
    left: 0;
    top: 10px;
    color: #999;
    background-color: #fff;
    z-index: 10;
    transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
    transition: transform 150ms ease-out, font-size 150ms ease-out, -webkit-transform 150ms ease-out;
}

.focused .form-label {
    -webkit-transform: translateY(-125%);
    transform: translateY(-125%);
    font-size: .75em;
}

.form-input {
    position: relative;
    padding: 12px 0px 5px 0;
    width: 100%;
    outline: 0;
    border: 0;
    box-shadow: 0 1px 0 0 #e5e5e5;
    transition: box-shadow 150ms ease-out;
}

.form-input:focus {
    box-shadow: 0 1px 0 0 black;
}

.form-input.filled {
    box-shadow: 0 1px 0 0 #1e3e1f;
}

.form-input textarea.filled {
    height: 100vh;
}

.form-input:not(textarea) {
    width: 50%;
}

.form-invalid > .form-label {
    color: #de6868;
}

.form-invalid > .form-input {
    box-shadow: 0 1px 0 0 #de6868;
}

/*CONSIDER: a better way?*/
/*.form-invalid > textarea {
    box-shadow: 0 1px 0 0 #de6868;
}*/

.form-submit {
    border: none;
    background: none;
    padding: 10px;
    border-radius: 5px;
    background: #849ea257;
}

.form-submit:focus {
    outline: none;
}

/*Source: https://stackoverflow.com/questions/2338102/override-browser-form-filling-and-input-highlighting-with-html-css*/

/*Removes the yellow highlight on chrome's auto-fill*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 1px 0 0 #e5e5e5, 0 0 0 50px white inset !important;
    -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 1px 0 0 black, 0 0 0 50px white inset !important;
    -webkit-text-fill-color: #333;
}

/* Modal styles
--------------------------------------------- */
.modal {

}

.dialog-contents {

}

.dialog-btns {

}

.dialog-btn {

}

/*TODO: add transition of sorts */
/*TODO: determine if we want the background grey or not*/
.overlay {
    top: 0;
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #abababc4;
    z-index: 1100;
    overflow-y: hidden;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.dialog-box {
    height: 200px;
    width: 250px;
    top: 50%;
    position: absolute;
    background: white;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 7px 2px #828282d9;
    bottom: 10px;
    right: 10px;
}

/* Per specs -- https://github.com/pstonier/accessibility-guidelines#aria-hidden-state */
[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
}

[aria-hidden="false"] {
    opacity: 1;
}

/* Footer styles
--------------------------------------------- */
footer {
    background: rgba(231, 231, 231, 0.74);
    height: 50vh;
}

/* Parallax base styles TODO:REMOVE if not using
--------------------------------------------- */

.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;
    perspective: 1px;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.parallax__layer--back {
    -webkit-transform: translateZ(-1px);
    transform: translateZ(-1px);
}
