
.content {
    padding: 5vh 5%;
    background-color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    text-align: justify;
}

.image {
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    z-index: -1;
    height: 83vh;
}

#tudy-image {
    width: 100%;
    -webkit-transform: scale(4) translate3d(0, 2vh, -2px);
    -moz-transform: scale(4) translate3d(0, 2vh, -2px);
    -ms-transform: scale(4) translate3d(0, 2vh, -2px);
    -o-transform: scale(4) translate3d(0, 2vh, -2px);
    transform: scale(4) translate3d(0, 2vh, -2px);
}

.content-title {
    display: inline-flex;
    font-size: 26px;
    font-weight: 300;
}
.content-title div:first-child {
    -webkit-text-stroke: .5px white;
}
.content > hr {
    width: 50%;
    margin-left: 0;
    margin-top: 2vh;
}